body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

header {
    background-image: url('..//Project/Project_Images/cinema.PNG');
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-container {
    background-repeat: repeat-x;
}

nav {
    background-color: #444;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.film-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.film {
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid #444;
    border-radius: 8px;
    transition: border-color 0.3s, transform 0.3s;
}

.film img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.film:hover {
    border-color: #555;
    transform: scale(1.05);
}

.film:hover img {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
}
